.carousel > div.carousel_card > div:first-child {
  align-self: flex-end;
}

.carousel_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 20px;
  padding: 5px 0px;
}

.carousel > div.carousel_card > div:nth-child(2) {
  height: 750px;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 50px 80px rgb(13, 14, 16) inset;
}

.carousel_card > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carousel_card > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 36%;
  padding: 12px 0px;
  background-color: rgb(217, 0, 141);
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 8px;
  transition-duration: 250ms;
  cursor: pointer;
}

.carousel_card > div > button:hover {
  background-color: rgb(150, 0, 97);
  transition-duration: 250ms;
}

.carousel_card > div > p:first-child {
  font-size: 35px;
  font-weight: 800;
}

.carousel_card > div > p:nth-child(2) {
  font-size: 13px;
  color: rgb(134, 135, 136);
  font-weight: 700;
  margin-bottom: 8px;
}

.dot {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: rgb(86, 87, 88);
  transition-duration: 250ms;
}

.dotactive {
  background-color: white;
  width: 25px;
  border-radius: 5px;
  transition-duration: 250ms;
}

.pagination {
  display: flex;
  justify-content: center;
  height: 10px;
  width: 100%;
  margin-top: 10px;
}

.pagination > div:nth-child(1).dotwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  width: 100%;
}
.pagination {
  padding: 0px 20px;
}

.pagination > div:nth-child(2) {
  display: flex;
  justify-self: flex-end;
  gap: 15px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  transition-duration: 250ms;
}

.left:hover,
.right:hover {
  background-color: rgb(32, 33, 35);
  transition-duration: 250ms;
}

.left > svg,
.right > svg {
  color: white;
}

.buttonwrapper {
  display: flex;
}
