.poster_wrapper {
  display: flex;
  height: fit-content;
  gap: 10px;
  margin-top: 13px;
  overflow: auto;
}

.poster_outer > div:first-child {
  display: flex;
  justify-content: space-between;
}

.poster_outer > div:first-child > p {
  font-family: "JioVar";
  font-size: 21px;
  font-weight: 600;
  color: white;
}
